<!DOCTYPE html>
<html>
<head>
    <title>카페 스플래툰3 랜덤배틀</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>카페 스플래툰3 랜덤배틀</h1>
    <div class="container">
        <div class="section">
            <h2>규칙</h2>
            <div class="column">
                <h3>Current</h3>
                <p><%= output.current.rule %></p>
            </div>
            <div class="column">
                <h3>Next</h3>
                <p><%= output.next.rule %></p>
            </div>
        </div>
        <div class="section">
            <h2>순번</h2>
            <div class="column">
                <h3>Current</h3>
                <ul>
                    <% output.current.players.forEach((player, index) => { %>
                        <li><%= index + 1 %> : <%= player %></li>
                    <% }) %>
                </ul>
            </div>
            <div class="column">
                <h3>Next</h3>
                <ul>
                    <% output.next.players.forEach((player, index) => { %>
                        <li><%= index + 1 %> : <%= player %></li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="section">
            <h2>관전</h2>
            <div class="column">
                <h3>Current</h3>
                <p><%= output.current.spectators.join(', ') %></p>
            </div>
            <div class="column">
                <h3>Next</h3>
                <p><%= output.next.spectators.join(', ') %></p>
            </div>
        </div>
        <div class="section">
            <h2>시각</h2>
            <div class="column">
                <h3>Current</h3>
                <p><%= output.current.time %></p>
            </div>
            <div class="column">
                <h3>Next</h3>
                <p><%= output.next.time %></p>
            </div>
        </div>
        <button onclick="refreshPage()">갱신</button>
    </div>
    <script src="/scripts.js"></script>
</body>
</html>
